<div class="col-2 bg-light">
    <div class="flex-shrink-0 p-3">
        <a href="{% url 'index' %}"
            class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
            <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-5 fw-semibold">Blog</span>
        </a>
        <ul class="list-unstyled ps-0">
            {% for topic, articles in sidebar %}
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#{{ topic.name | slugify }}-collapse"
                        aria-expanded="false">
                    {{ topic.name }}
                </button>
                <div class="collapse" id="{{ topic.name | slugify }}-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        {% for article in articles %}
                        <li><a href="{% url 'article' article_id=article.id %}"
                            class="link-dark rounded">{{ article.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
